html, body{
    scroll-behavior: smooth;
    background-color: #040714;
    color: #f9F9F9;
    font-family: Avenir-Roman, sans-serif;
    padding: 2%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #f9f9f9;
    text-decoration: none;
  }
  
  @media only screen and (min-width: 900px){
    body{
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 480px ) and (max-width: 900px ) {
    body{
      font-size: 15px;
    }
  }
  
  
  @media only screen and (max-width: 479px ) {
    body{
      font-size: 14px;
    }
  }

  header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: #090b13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    letter-spacing: 5px;
    z-index: 3;
  }

  .Logo{
    padding: 0;
    width: 80px;
    max-height: 70px;
    font-size: 0;
    color: white;
    display: inline-block;
  }

  nav{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-right: auto;
    margin-left: 25px;
}

nav > a{
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0px 10px;
}

nav > img{
  height: 20px;
  min-width: 20px;
  width: 20px;
  z-index: auto;
}

nav > span{
  color: rgb(249, 249, 249);
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.08;
  padding: 2px 5px;
  white-space: nowrap;
  position: relative;
}

.section{
    margin: 10%;
    width: 100%;
    height: 100%;
}  

.wrap{
    margin-top: 30px;
    padding: 30px 0px 26px;
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(5, minmax(0, 1fr));

}

@media (max-width: 1200px) {
    .wrap{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 700px) {
  .wrap{
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.block{
    position: relative;
    padding-top: 70%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 30px -10px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 50%;
    z-index: 10;
    opacity: 1;
    transition: 1s all;
    border: 3px solid rgba(249, 249, 249, 0.1);
}

.block:hover{
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05);
    transition: 1s all;
    border-color: rgba(249, 249, 249, 0.8);
}

.block > .image{
    inset: 0px;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: opacity 500ms ease-in-out;
    z-index: 0;
    top: 0;
    bottom: 0;
}

.block > h3{
    position: absolute;
    z-index: 10;
    padding: 0 5%;
    bottom: -10px;
    text-align: center;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}